<ul id="post-comment-<%=post._id%>">
    <% for (comment of post.comments){%>
        <li id="comment-<%=comment._id%>">
        <% if( locals.user && (locals.user.id == post.user.id ||locals.user.id == comment.user.id )){ %>
            
            <a class="delete-comment-button" href="/comment/delete/<%=comment._id%>">
                X
            </a>
        <% } %>
            <p>
                <%=comment.content %> by
                <small>
                    <%= comment.user.name %>
                </small>
            </p>
        
        <%} %>
    </li>
</ul>