<li id="post-<%=post.id%>">
    <% if( locals.user && locals.user.id == post.user.id){ %>
        <a class="delete-post-button" href="/post/delete/<%=post.id %>">
            X
        </a>
        <%}%>
        <%=post.content%>
        <a href="/" class="like-post" id="like-<%=post.id%>"><i class="fas fa-thumbs-up"></i> <span>0</span></a> 
        By <%=post.user.name %>
        <br>
        
        <% if(locals.user){%>
            <div class="post-comment">
                <!-- form for comment -->
                <form method="POST" id="new-comment-form-<%=post._id%>" action="/comment/create>">
                        <input type="text" placeholder="Enter your comment" name="content" required>
                        <input type="hidden" name="postid" value="<%=post._id%>" required >
                        <input type="submit" value="Add Comment">
                </form>
            </div>
        <% } %>
        <div id="post-comment-list">
            <h2>Comments</h2>
            <%- include("_comment") -%>
        </div>
</li>
