<link rel="stylesheet" href="/css/user-profile.css">
<h1>Welcome To Profile</h1>

<% if(locals.user.id==current_user.id) {%>
    <!-- show user if he is logged in -->
    <form action="/users/update/<%=user.id %>" method="POST">
        <input type="text" name="name" placeholder="Add your name" required value="<%=current_user.name%>" >
        <input type="email" name="email" placeholder="Add your email" required value="<%=current_user.email%>">
        <input type="submit" value="Update">
    </form>
<% }else { %>
    <!-- show user details if he is not the one logged in  -->
    <p><%=current_user.name %></p>
    <p><%=current_user.email %></p>
    <a id="addorremove" href="/add/friend/<%=current_user._id%>">
    <%if(!isfriend){%> 
        <span>Add as friend</span><i class="fas fa-user-plus"></i>
    <%}else{%>
        <span>Remove as friend</span><i class="fas fa-user-times"></i>
    <%}%>
    
    </a>
    
<%}%>
<script src="/js/home_posts.js">

</script>
<script src="/js/like.js">

</script>
<script src="/js/friends.js">
</script>